{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}
    {% include Constants.instructions_template %}
    <p>
        You are number {{ subsession.round_number }} in the line.
    </p>
    <p> Previous participants have drawn a ball from this urn.
        You don't know which color their ball had, but after seeing the ball they threw
        it back into the urn and guessed the following:
    </p>

    <table class="table">
        <tr>
            <th>Participant</th>
            <th>ball drawn</th>
            <th>guessed urn</th>
            <th>points</th>
        </tr>
        {% for p in player_in_previous_rounds %}
            <tr>
                <td> {{ p.round_number }}. participant </td>
                <td> (?) </td>
                <td> {{ p.choice_of_urn }} </td>
                <td> (?) </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        Now it's your turn and you draw a
        {% if player.current_ball == 'red' %}
            <img src="{% static "information_cascades_urns/bullet_red.png" %}"/>ball.
        {% else %}
            <img src="{% static "information_cascades_urns/bullet_blue.png" %}"/>ball.
        {% endif%}
        You have to guess: Are you standing in front of Urn A or Urn B?
    </p>
        {% formfield player.choice_of_urn with label=None%}

    {%  next_button %}

{% endblock %}



