{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
    {% if subsession.round_number != 1 %}
    <p>
        Previous players have drawn a ball from this urn.
        After seeing the collor they have guessed the following:
    </p>
    <table class="table">
        <tr>
            <th>Player</th>
            <th>ball drawn</th>
            <th>choice of urn</th>
            <th>points</th>
        </tr>
        {% for p in player_in_previous_rounds %}
            <tr>
                <td> {{ p.round_number }}. player </td>
                <td> (?) </td>
                <td> {{ p.choice_of_urn }} </td>
                <td> (?) </td>
            </tr>
        {% endfor %}
    </table>
    {% endif%}

    <p>You are player {{ subsession.round_number }}. </p>
    <p>You go to the urn and draw a <b>{{ player.current_ball }}</b> ball.
    Now you have to guess: Are you standing in front of Urn A or Urn B?</p>
    {% formfield player.choice_of_urn with label=None%}

    {%  next_button %}
    {% include Constants.instructions_template %}
{% endblock %}



